In [1]:
# First import everything we need
import numpy as np
from datascience import *

In [ ]:
cones = Table.read_table('cones.csv')
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
movies = Table.read_table('movies_by_year.csv')

In [ ]:
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Color')

In [ ]:
cones.drop('Color')

In [ ]:
cones

In [ ]:
cones_no_color = cones.drop('Color')

In [ ]:
cones_no_color

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

In [ ]:
# This table can be found online: 
# https://www.statcrunch.com/app/index.php?dataid=1843341

# NBA players, 2015-2016 season

nba

In [ ]:
nba.where('PLAYER', 'Stephen Curry')

In [ ]:
nba.where('TEAM', 'Golden State Warriors').show()

In [ ]:
nba.where('POSITION', 'PG').sort('SALARY', descending=True).show(15)