In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Census ##

In [ ]:
full = Table.read_table('nc-est2014-agesex-res.csv')
full

In [ ]:
partial = full.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014')
partial

In [ ]:
simple = partial.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2014', '2014')
simple

In [ ]:
simple.sort('AGE', descending=True)

## Line Plots ##

In [ ]:
no_999 = simple.where('AGE', are.below(999))

In [ ]:
everyone = no_999.where('SEX', 0).drop('SEX')

In [ ]:
everyone

In [ ]:
everyone.plot('AGE', '2010')

In [ ]:
# US Population

everyone.plot('AGE', '2010')

In [ ]:
everyone.plot('AGE', '2010')
print('US Population')

In [ ]:
everyone.plot('AGE', '2010')
plots.title('US Population');

In [ ]:
everyone.where('AGE', are.between(60, 71))

In [ ]:
everyone.plot('AGE')

## Males and Females in 2014 ##

In [ ]:
males = no_999.where('SEX', 1).drop('SEX')
females = no_999.where('SEX', 2).drop('SEX')

In [ ]:
pop_2014 = Table().with_columns(
    'Age', males.column('AGE'),
    'Males', males.column('2014'),
    'Females', females.column('2014')
)

In [ ]:
pop_2014

In [ ]:
pop_2014.plot('Age')

In [ ]:
total = pop_2014.column('Males') + pop_2014.column('Females')
percent_females = 100 * pop_2014.column('Females') / total
percent_females

In [ ]:
percent_females = np.round(percent_females, 2)

In [ ]:
counts_and_percents = pop_2014.with_column('Percent Female', percent_females)

In [ ]:
counts_and_percents

In [ ]:
counts_and_percents.plot('Age', 'Percent Female')

In [ ]:
counts_and_percents.plot('Age', 'Percent Female')
plots.ylim(0, 100);      # Not needed for D8

## Scatter Plots ##

In [ ]:
actors = Table.read_table('actors.csv')

In [ ]:
actors

In [ ]:
actors.scatter('Number of Movies', 'Total Gross')

In [ ]:
actors.scatter('Number of Movies', 'Average per Movie')

In [ ]:
actors.where('Average per Movie', are.above(400))

## Bar Charts ##

In [ ]:
top_movies = Table.read_table('top_movies_2017.csv')

In [ ]:
top_movies

In [ ]:
top_adjusted = top_movies.take(np.arange(10))

In [ ]:
top_adjusted

In [ ]:
millions = np.round(top_adjusted.column('Gross (Adjusted)') / 1000000, 3)

In [ ]:
top_adjusted = top_adjusted.with_column('Millions', millions)

In [ ]:
top_adjusted

In [ ]:
top_adjusted.barh('Title', 'Millions')

In [ ]:
top_movies

In [ ]:
top_gross = top_movies.sort('Gross', descending=True).take(np.arange(10))
ages = 2019 - top_gross.column('Year')
top_gross = top_gross.with_column('Age', ages)
top_gross.barh('Title', 'Age')